﻿@model MvcCityConst.Models.Contacts

<script>
    function CheckContactType(s, e) {
        if (cbContactType.GetValue())
            $('.cbContactType').parent().removeClass('has-error').addClass('has-success');
        else
            $('.cbContactType').parent().removeClass('has-success').addClass('has-error');
    }

    function CheckValue(fnk) {
        if ($('#Value').val().length > 0) {
            $.get("/Account/CheckEmail", { Email: $('#Value').val(),Contact_Nx:'@Model.Nx', ContactType_Nx: cbContactType.GetValue(), CheckWithPriority: !!$('#Priority').prop('checked')  }, function (data) {
                if (data == "OK") {
                    $('#Value').parent().removeClass('has-error').addClass('has-success');
                }
                else {
                    $('#Value').parent().removeClass('has-success').addClass('has-error');
                }
                if (fnk) fnk();
            });
        }
        else
            $('#Value').parent().removeClass('has-success').addClass('has-error');
    }
    function CheckPriority() {
        if (!$('#Priority').prop('checked')) {
            alert('Нельзя снять пометку-Использовать для уведомлений. Вместо этого, укажите другой контакт, как - Использовать для уведомлений и в этом контакте пометка пропадет сама.');
            $('#Priority').prop('checked', 'checked');
        }
        else {
            $('#Priority').prop('checked', 'checked');
        }

    }
   </script>
<div class="modal fade EditContact" id="EditContact" tabindex="-1" role="dialog" aria-labelledby="EditContactLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#EditContact').modal('hide');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Html.Raw(Model.Nx!=0?"Изменить контакт":"Новый контакт")</h4>
            </div>

            <div class="modal-body">
              
                <div class="form-group">
                    <input type="hidden" id="Contact_Nx" name="Contact_Nx" value="@Model.Nx" />
                    <input type="hidden" id="cbContactTypeValue" name="cbContactTypeValue" value="@Model.ContactType_Nx" />
                    <label class="control-label cbContactType">Тип контакта</label>
                    <div class="form-control">
                        @Html.Action("cbContactType", "Contacts", new { InputValueName = "cbContactTypeValue", ContactTypeNx = Model.ContactType_Nx, IsReadOnly=ViewBag.IsReadOnly })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label Value">Значение</label>
                    <input type="text" class="form-control" id="Value" name="Value" value="@Model.Value" onblur="CheckValue();">
                </div>
                <label class="checkbox-inline">
                    <input type="checkbox" id="Priority" name="Priority" @Html.Raw(Model.Priority==0?"checked":"") onclick="CheckPriority();">Использовать для уведомлений
                </label>
                <div class="form-group">
                    <label class="control-label Comments">Комментарии</label>

                    <textarea id="ContactComments" class="form-control" rows="3" name="ContactComments">@Model.Comments</textarea>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly)
                {
                <button type="button" class="btn btn-success" onclick='SaveContact();'>Сохранить</button>
                }
                <button type="button" class="btn btn-default" onclick="$('#EditContact').modal('hide');">Закрыть</button>

            </div>
        </div>
    </div>
</div>
<script>
    (function () {
        $('#EditContact').modal('show');
        if ($('[data-backdrop="true"]').length > 1)
            $('#EditContact').attr('data-backdrop', 'false');
        $('#EditContact').on('hidden.bs.modal', function (e) {
            $('#EditContact').parent().remove();
        })
    })();
</script>
@if (ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly)
{
    <script>
        function Save() {
            if ($('.has-error').length == 0) {
                $.get("/Contacts/SaveContact", { Profiles_Nx: '@ViewBag.Profile_Nx', Contact_Nx: $('#Contact_Nx').val(), Value: $('#Value').val(), ContactType_Nx: cbContactType.GetValue(), Priority: !!$('#Priority').prop('checked'), Comments: $('#ContactComments').val() }, function (data) {
                    gvContacts.PerformCallback({ Profiles_Nx: '@ViewBag.Profile_Nx', IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly == true)' });
                    $('#EditContact').modal('hide');
                });
            }
        }

        function SaveContact() {
            CheckContactType();
            CheckValue(function () {
                if (!$('#Priority').prop('checked')) {
                    $.get("/Contacts/CheckPriorityContact", { Profiles_Nx: '@ViewBag.Profile_Nx' }, function (data) {
                        debugger;
                        if (data == "ERROR") $('#Priority').prop('checked', 'checked');
                        Save();
                    });
                }
                else {
                    Save();
                }

            });
        }
        (function () { $('#EditContact input[type!=checkbox], textarea').removeAttr('disabled'); })();
    </script>
}
else
{
    <script>
        (function () { $('#EditContact input, textarea').attr('disabled', 'disabled'); })();
    </script>
}