﻿<style>
    BindToEmployee.input {
        max-width: none;
    }
</style>
<div class="modal fade BindToEmployee" id="BindToEmployee" tabindex="-1" role="dialog" aria-labelledby="BindToEmployeeLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="BindToEmployeeLabel">Выбрать сорудника</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("BindToEmployee", "Jobs", FormMethod.Post))
                {
                    <input type="hidden" name="Nx" id="Nx" />
                    <input type="hidden" id="SelectedJobs" name="SelectedJobs" />
                    <input type="hidden" id="FormType" name="FormType" value="0" />
                    <div class="form-group">
                        <label>Сотрудник</label>
                        <div class="form-control" id="empl">
                            @*@Html.Partial("cbEmployee")*@

                            @*cbEmployees(bool Update = false, int? Organizations_Nx=null, bool IsWithAll = false, string cbEmployees_LostFocus = "", int? ViewID = null)*@
                            @Html.Action("cbEmployees", "Employees", new { Organizations_Nx= ViewBag.Org.Profiles_Nx, IsUseProfile = true })
                        </div>
                    </div>
                    <div class="form-group BindToEmployeeCheck">

                        <label>Заменить уже имеющих привязку сотрудников на указанного сотрудника</label><br />
                        @*<div class="form-control" id="empl">*@
                            <input type="checkbox" onchange="CheckChanged(this);" />
                        @* </div> *@
                    </div>
                }
                    </div>
            <div class="modal-footer">
                <button type="button" id="BindFormSubmit" class="btn btn-primary" onclick="debugger; if (BindEmplVaildate()) { if (typeof (cbEmployees.GetValue()) === 'number') $('.BindToEmployee #Nx').val(cbEmployees.GetValue()); if ($('#SelectedJobs').val().length > 0) $('.BindToEmployee form').submit(); else alert('Не выбрано ни одной работы!'); } ">Назначить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.BindToEmployee form').submit(function () {

                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        Update_gvJobs();
                    }
                });

            return false;
        });

    });
    function CheckChanged(obj) {
        debugger;
        if ($('#FormType').val() == 0 || $('#FormType').val() == 1)
        {
            if ($(obj).is(':checked'))
                $('#FormType').val(1);
            else
                $('#FormType').val(0);
        }
        else
            if ($('#FormType').val() == 2 || $('#FormType').val() == 3)
            {
                if ($(obj).is(':checked'))
                {
                    $('#FormType').val(3);
                    cbEmployees.SetEnabled(false);
                }
                else {
                    $('#FormType').val(2);
                    cbEmployees.SetEnabled(true);
                }
            }
    }
    function BindToEmployee_Clear() {
        if (cbEmployees) cbEmployees.SetText('');
        $('#Nx').val('');
        $('.errormess').remove();
        $('.BindToEmployee input[type=checkbox]').removeAttr('checked');
    }

    function ShowBindForm(FormType) {
        debugger;
        if (typeof(FormType)!=='undefined') {
            BindToEmployee_Clear();
            cbEmployees.SetEnabled(true);
            $('.BindToEmployeeCheck').attr('checked', '');
            if ($('#SelectedJobs').val().length > 0)
                $('#BindToEmployee').modal('show');
            else { alert('Не выбрано ни одной работы!'); return;}
            switch (FormType) {
                case 0:
                    $('#BindToEmployeeLabel').text('Назначить соруднику');
                    $('#FormType').val(0);
                    $('.BindToEmployeeCheck label').text('Заменить уже имеющих привязку сотрудников на указанного сотрудника');
                    $('#BindFormSubmit').text('Назначить');
                    break;
                case 2:
                    $('#BindToEmployeeLabel').text('Отвязать сорудника');
                    $('#FormType').val(2);
                    $('.BindToEmployeeCheck label').text('Удалить привязки всех назначенных сотрудников');
                    $('#BindFormSubmit').text('Отвязать');
                    break;

            }
        }
    }
    function Update_gvJobs() {
        $('#BindToEmployee').modal('hide');
        ClearSelection();
        gvJobs.PerformCallback({ Profiles_Nx: @ViewBag.Org.Profiles_Nx });

        /*<td align='center'><span id='spEmloerBinding' title='Привязка к сотруднику' style='cursor:pointer;' class=\"glyphicon glyphicon-transfer\" onclick=\"EmployeeBinding({0});\"></span></td><td align='center'><span id='ViewResources' title='Ресурсы' style='cursor:pointer;' class=\"glyphicon glyphicon-list-alt\" onclick=\"Resources({0});\"></span></td>*/
    }
    function BindEmplVaildate() {
        ret = true;
        if (cbEmployees && $('#Nx').val().length == 0 && cbEmployees.GetValue() == null && cbEmployees.GetEnabled()) {
            $('#empl').parent().removeClass('has-success').addClass('has-error');
           // $('.errormess.empl').remove();
           // $('#empl').after('<div class="errormess empl" style="color:red;">неверное значение</div>');
            ret = false;
        }
        else {
            // $('.errormess.empl').remove();
            $('#empl').parent().removeClass('has-error').addClass('has-success');
        }
        return ret;
    }
</script>
