﻿
@{
    ViewBag.Title = "Работы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function ClearSelection() {
        $('#SelectedJobs').val('');
        $('input[id ^= "chk"]').removeAttr('checked');
    };
    function ChangeSelection(id){
        id='/'+id;
        var sj = $('#SelectedJobs').val();
        if (sj.indexOf(id) >= 0)
            sj = sj.split(id).join('');
        else
            sj += id;
        $('#SelectedJobs').val(sj);
    }
    //function RefreshCheckBoxes(s,e) {
    //    $('#SelectedJobs').val().split('//').forEach(function (val, idx, obj) {
    //        var chk = '#chk' + val;
    //        $(chk).attr('checked', 'checked');
    //    });
    //}
</script>
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("ContragentInfo", (MvcCityConst.Models.Organizations)ViewBag.Org)
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Работы</h3>
    </div>
    <div class="panel-body">
        @if (ViewBag.Nx == null ||  User.IsInRole("Client.Admin") || User.IsInRole("Sys.Admin"))
        {
        <button type="button" class="btn btn-primary" onclick="ShowBindForm(0);">Назначить сотруднику</button>
        <button type="button" class="btn btn-primary" onclick="ShowBindForm(2);">Отвязать от сотрудника</button>
        @*<button type="button" class="btn btn-primary" onclick="BindToEmployee_Clear(); if ($('#SelectedJobs').val().length > 0) $('#BindToEmployee').modal('show'); else alert('Не выбрано ни одной работы!');">Назначить сотруднику</button>*@

        <div style="height:5px"></div>
        }
        @Html.Action("gvJobs", new { Profiles_Nx = ViewBag.Org.Profiles_Nx, Nx= ViewBag.Nx })
        

    </div>
</div>
@Html.Partial("BindToEmployee")

<script>
    (function(){
        var id =@ViewBag.Org.Profiles_Nx ;
        $('#ContragentID').val(id);
    })();
</script>