﻿@if (ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly)
{
    <button type="button" class="btn btn-success" onclick='$.post("/Positions/EditPositions", {Profiles_Nx:"@ViewBag.Profiles_Nx", IsReadOnly:@Html.Raw(ViewBag.IsReadOnly ? "true" : "false")}, function(data) { data = "<div>" + data + "</div>"; $("body").append(data); })' style="margin-bottom:5px;">Новая должность</button>
}
@Html.Action("gvPositions", new { Profiles_Nx = ViewBag.Profiles_Nx, IsReadOnly = ViewBag.IsReadOnly })


<div style="display:none" id="gvPositionsContextMenu">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#" onclick="EditPosition('{KeyValue}');" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-pencil" style="margin-right:5px"></div>Редактировать</a></li>
        @if (!ViewBag.IsReadOnly)
        {
            <li role="presentation"><a href="#" onclick="DeletePosition('{KeyValue}');" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-remove" style="margin-right:5px"></div>Удалить</a></li>
        }
    </ul>
</div>
<script>
    function gvPositionsShowOptions(s, e) {


        $(s).popover({ animation: true, placement: 'auto right', title: 'Действия', html: true, content: $('#gvPositionsContextMenu').html().split('{KeyValue}').join(e) });
        $(s).popover('show');

        $('body').on('click', function (e) {
            $('.popover').each(function () {
                $(this).popover('destroy');
                $('body').off('click');
            });
        });

    }
    function EditPosition(e) {
        e = parseInt(e);
        $.get("/Positions/EditPositions", { Profiles_Nx: "@ViewBag.Profiles_Nx", Nx: e, IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly == true)' }, function (data) { data = "<div>" + data + "</div>"; $("body").append(data); });
    }
    function DeletePosition(e) {
        e = parseInt(e);

        if (confirm("Удалить должность?")) {
            $.post('/Positions/DeletePosition', { Nx: e }, function (data) { gvPositions.PerformCallback({ Profiles_Nx: '@ViewBag.Profiles_Nx', IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly == true)' }); });
        }
    }
</script>
