﻿@model MvcCityConst.Models.Organizations
@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("ContragentInfo", Model)
        </div>
    </div>
    <div class="row">
        @*<div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation">@Html.ActionLink("Кадры","Index","Employees",new { }, new { target = "_blank" })</li>
                            <li role="presentation">@Html.ActionLink("Работы", "Index", "Jobs",new { },  new { target = "_blank" })</li>
                            <li role="presentation"><a href="#" onclick="event.stopPropagation();$(this).popover({ animation: true, placement: 'auto bottom', title: 'Внимание!', html: true, content: 'Раздел на разработке' }); $(this).popover('show');
            $('body').on('click', function (e) {
                $('.popover').each(function () {
                    $(this).popover('destroy');
                    $('body').off('click');
                });
            });">Ресурсы</a></li>
                        </ul>
                    </div>
                </div>*@


        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @if (User.IsInRole("Sys.Admin") || User.IsInRole("Client.Admin"))
            {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#EmployeesCollaps" aria-expanded="true" aria-controls="EmployeesCollaps">
                                @*<span class='glyphicon glyphicon - user'></span>*@ Кадры
                            </a>
                        </h4>
                    </div>

                    <div id="EmployeesCollaps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked">
                                <li role="presentation"><a href="#" onclick="$.get('/Employees/Employees',{Profiles_Nx:@Model.Profiles_Nx },function(data){data='<div>'+data+'</div>';$('#MianContent').empty(); $('#MianContent').append(data);})">Сотрудники</a></li>
                                <li role="presentation">@Html.ActionLink("Размещение", "Location", "Employees", new { }, new { target = "_blank" })</li>
                            </ul>
                        </div>
                    </div>
                </div>}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#JobCollaps" aria-expanded="false" aria-controls="JobCollaps">
                            Бизнесс-процессы
                        </a>
                    </h4>
                </div>
                <div id="JobCollaps" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation">@Html.ActionLink("Работы", "Index", "Jobs", new { }, new { target = "_blank" })</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
