﻿<div class="modal fade AddRole" id="AddRole" tabindex="-1" role="dialog" aria-labelledby="AddRoleLabel" data-backdrop="false" style="overflow-y:auto;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddRoleLabel">Добавить роль</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="Profiles_Nx" name="Profiles_Nx" value="@ViewBag.Profiles_Nx" />
                    <input type="hidden" id="cbRolesValue" name="cbRolesValue" />
                    <label class="control-label cbRoles">Роль</label>
                    <div class="form-control">
                        @Html.Action("cbRoles", new { Profiles_Nx = ViewBag.Profiles_Nx, InputValueName = "cbRolesValue" })
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" onclick="AddNewRole();">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>

        </div>
    </div>
</div>

<script>
    (function () {
        $('#AddRole').modal('show');
        if ($('[data-backdrop="true"]').length > 1)
            $('#AddRole').attr('data-backdrop', 'false');

        $('#AddRole').on('hidden.bs.modal', function (e) {
            $('#AddRole').parent().remove();
        })
    })();
    function CheckRoles() {
        if (cbRoles.GetValue())
            $('.AddRole .cbRoles').parent().removeClass('has-error').addClass('has-success');
        else
            $('.AddRole .cbRoles').parent().removeClass('has-success').addClass('has-error');
    }
    function AddNewRole() {
        CheckRoles();
        if ($('.AddRole .has-error').length == 0) {
            var dt = $('#AddRole form').serialize();
            $.get('/Roles/AddNewRole', dt, function () { gvUserInRoles.PerformCallback({ Profiles_Nx: '@ViewBag.Profiles_Nx'}); });
            $('#AddRole').modal('hide');
        }
    }
</script>