﻿
@{
    var grid = Html.DevExpress().GridView(settings =>
    {

        settings.Name = "gvIncomingMessages";
        settings.CallbackRouteValues = new { Controller = "Messages", Action = "gvIncomingMessages" };
        settings.CustomActionRouteValues = new { Controller = "Messages", Action = "gvIncomingMessages" };
        settings.ClientSideEvents.EndCallback = "function(s,e) {$('#SelectedInMsg').val().split(';').forEach(function(val, idx, obj) { var chk = '#chk' + val;$(chk).attr('checked', 'checked'); });}";
        settings.KeyFieldName = "ID";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.SettingsPager.Visible = true;
        //settings.SettingsPager.Mode = GridViewPagerMode.ShowAllRecords;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = true;
        //settings.Settings.VerticalScrollBarMode = ScrollBarMode.Visible;
        // settings.ClientSideEvents.BeginCallback = "gvEmployees_OnBeginCallback";
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowSelectByRowClick = true;
        settings.ClientSideEvents.RowDblClick = string.Format("function(s,e){{debugger; var id=s.GetRowKey(e.visibleIndex);/* alert(id);*/ $.get('{0}',{{ID:id}},function(data){{ data='<div class=\"ViewMessage\">'+data+'</div>'; $('body').append(data);}});}}", Url.Action("ViewMessage","Messages"));
        settings.HtmlRowPrepared = (sender, e) =>
        {
            if (e.RowType != GridViewRowType.Data) return;
            if ((int)e.GetValue("State")==1)
                e.Row.Font.Bold = true;
            if (e.GetValue("RelatedMessage_ID") != null)
            {
                if ((int)e.GetValue("IsForvarded")==1)
                    e.Row.ForeColor = System.Drawing.Color.CornflowerBlue;
                else
                    e.Row.ForeColor = System.Drawing.Color.DarkOliveGreen;
            }
        };
        settings.Columns.Add(column =>
        {
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(string.Format("<table style='width:100%'><tr><td align='center'><input type='checkbox' class='In Messages' id='chk{0}' onclick='ChangeInMsgSelection(\"{0}\");'/> </td></tr></table>", c.KeyValue));
            });
            column.Width = System.Web.UI.WebControls.Unit.Pixel(30);
            column.Visible = !(ViewBag.FullJobList != null && !(bool)ViewBag.FullJobList);
        });
        settings.Columns.Add(column =>
        {
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write(string.Format("<table style='width:100%'><tr><td align='center'><span title='Просмотр' style='cursor:pointer;' class='glyphicon glyphicon-search' onclick='event.stopPropagation(); var id=\"{0}\";/* alert(id);*/ $.get(\"{1}\",{{ID:id}},function(data){{ data=\"<div>\"+data+\"</div>\"; $(\"body\").append(data);}});'></span></td></tr></table>", c.KeyValue, Url.Action("ViewMessage", "Messages")));
            });
            column.Width = System.Web.UI.WebControls.Unit.Pixel(30);

        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Дата";
            column.FieldName = "TimeStamp";
            column.ColumnType = MVCxGridViewColumnType.DateEdit;
            column.CellStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Right;
            column.PropertiesEdit.DisplayFormatString = "dd.MM.yyyy, HH:mm";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(70);
            // column.AdaptivePriority = 1;
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Отправитель";
            column.FieldName = "SenderName";
            column.Width = System.Web.UI.WebControls.Unit.Pixel(150);
        });
        settings.Columns.Add(column =>
        {
            column.Caption = "Тема";
            column.FieldName = "Subject";
            column.SetDataItemTemplateContent(c => {
                ViewContext.Writer.Write(string.Format("<span class='glyphicon glyphicon-flag' style='color:red;display:{0}'></span>{1}", (int)c.Grid.GetRowValues(c.VisibleIndex,"Priority")==0?"":"none",c.Grid.GetRowValues(c.VisibleIndex,"Subject").ToString()));
            });
        });


        settings.Columns.Add(column =>
        {
            column.Caption =
            column.Caption = "Связано";
            column.AdaptivePriority = 1;
            column.SetDataItemTemplateContent(c =>
            {
                ViewContext.Writer.Write((Guid?)c.Grid.GetRowValues(c.VisibleIndex, "RelatedMessage_ID")==null?"":string.Format("<span style='cursor:pointer;color:blue;text-decoration:underline;' onclick=\"$.post('{2}',{{ID:'{0}'}},function(data){{ data='<div class=\\\'ViewMessage\\\'>'+data+'</div>'; $('body').append(data);}});\">Тема: {1}</span>", (Guid)c.Grid.GetRowValues(c.VisibleIndex, "RelatedMessage_ID"), c.Grid.GetRowValues(c.VisibleIndex, "RelatedMessageSubject"), Url.Action("ViewMessage", "Messages")));
            });

        });

    });
}

@grid.Bind(Model).GetHtml()
