﻿@model MvcCityConst.Models.Messages

<style>
    .NewMessage input, textarea {
        max-width: none;
    }
</style>

<div class="modal fade NewMessage" style="overflow-y:auto" id="NewMessage_@ViewBag.ViewID" tabindex="-1" role="dialog" aria-labelledby="NewMessageLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#NewMessage_@ViewBag.ViewID').modal('hide');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Новое сообщение</h4>
            </div>

            <div class="modal-body">

               




                @using (Html.BeginForm())
            {
                    <div class="panel panel-default Recepients">

                        <div class="panel-heading">Получатели</div>
                        <div class="panel-body Recepients">
                            <input type="hidden" class="SenderProfile" id="SenderProfile_@ViewBag.ViewID" name="SenderProfiles_Nx" value="@Model.SenderProfiles_Nx" />
                            <input type="hidden" class="RecepientsProfiles" id="RecepientsProfiles_@ViewBag.ViewID" name="RecepientsProfiles" value="@ViewBag.Recepients" />
                            <input type="hidden" class="NewMessageType" id="NewMessageType_@ViewBag.ViewID" name="NewMessageType" value="@ViewBag.Type" />
                            <input type="hidden" class="MessagesList" id="MessagesList_@ViewBag.ViewID" name="MessageList" value="@ViewBag.MsgList" />
                            <div id="Recepients_@ViewBag.ViewID" style="cursor:pointer;color:blue;text-decoration:underline;" onclick="window['ShowRecepients_@ViewBag.ViewID']($(this).attr('id'), $('#RecepientsProfiles_@ViewBag.ViewID').val(),'RecepientsProfiles_@ViewBag.ViewID');">Добавить получателя...</div>
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label for="Subject">Тема</label>
                        <input type="text" class="form-control" id="Subject" name="Subject" value="@Model.Subject">
                    </div>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="IsNotified" name="IsNotified">Уведомить о просмотре
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" id="HighPriority" name="HighPriority">Важное
                    </label>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" name="MessageBody"></textarea>
                    </div>
                    if (ViewBag.AppliedMessages != null)
                    {
                    <div class="panel panel-default">
                        <div class="panel-heading">Вложения</div>
                        <div class="panel-body" style="max-height:250px;overflow-y:auto;">
                            <div style="">
                                @Html.Raw(ViewBag.AppliedMessages)
                            </div>
                        </div>

                    </div>
                    }
                }
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick='window["SendMessage_@ViewBag.ViewID"]();'>Отправить</button>

                    <button type="button" class="btn btn-default" onclick="if(ClearSelection) ClearSelection(); $('#NewMessage_@ViewBag.ViewID').modal('hide');">Закрыть</button>

                </div>
            </div>

        </div>
    </div>
</div>
<script>
    window['ShowRecepients_@ViewBag.ViewID'] = function (targetName, Values, valuesName) {
        debugger;
        LoadingPanel.Show();
        $.post('@Url.Action("ViewRecepients","Messages")', { targetName: targetName, Values: Values, valuesName: valuesName, ViewID: '@ViewBag.ViewID' }, function (data) { LoadingPanel.Hide(); $('body').append('<div id=\'ViewRecepientsContainer_@ViewBag.ViewID\'>' + data + '</div>'); });
    };

    window['SendMessage_@ViewBag.ViewID'] = function () {
        if (CheckValidRecepients_@ViewBag.ViewID ()) {
            var datatosend = $('#NewMessage_@ViewBag.ViewID form').serialize();
            $.post('@Url.Action("SendMessage","Messages")', datatosend, function (data) { if (ClearSelection) ClearSelection(); gvIncomingMessages.Refresh(); gvOutgoingMessages.Refresh(); $('#NewMessage_@ViewBag.ViewID').modal('hide'); });
        }

    };
    window['CheckValidRecepients_@ViewBag.ViewID']=function() {
        var ret = false;
        if ($('#RecepientsProfiles_@ViewBag.ViewID').val()) {
            $('#NewMessage_@ViewBag.ViewID .panel.Recepients').removeClass('panel-default').removeClass('panel-danger').addClass('panel-success');
            ret = true;
        }
        else {
            $('#NewMessage_@ViewBag.ViewID .panel.Recepients').removeClass('panel-default').removeClass('panel-success').addClass('panel-danger');
            ret = false;
        }

        return ret;
    };
    (function () {
        $('#NewMessage_@ViewBag.ViewID').modal('show');
        $.post('@Url.Action("RecepientRow", "Messages")', { Values: $('#RecepientsProfiles_@ViewBag.ViewID').val() }, function (data) { $('#Recepients_@ViewBag.ViewID').text(data); });
        $('#NewMessage_@ViewBag.ViewID').on('hidden.bs.modal', function (e) {
            $('#NewMessage_@ViewBag.ViewID').parent().remove();
        })
    })();
</script>



