﻿<style>
    AddEmployees.input {
        max-width: none;
    }
     .popover-title{
    color:black;
}
</style>
<div class="modal fade AddResource" id="AddResource" tabindex="-1"  role="dialog" aria-labelledby="AddResourceLabel">
    <div class="modal-dialog" role="document" style="width:250px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="AddEmployeesLabel">Новый ресурс</h4>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("AddResource", "Resources", FormMethod.Post))
                {
                   
                    <input type="hidden" name="JobsAppointed_Nx" id="JobsAppointed_Nx" />
                    <input type="hidden" name="Recourses_Nx" id="Recourses_Nx" />
                    <div class="form-group" >
                        <table><tr><td></td></tr></table>
                        <label for="ResourceDateEdit">Дата</label>

                        <div class="form-control" id="ResourceDateEdit" style="width:200px">
                            @Html.DevExpress().DateEdit(settings =>
                       {
                           settings.Name = "ResourceDateEdit";
                           settings.Properties.NullText = "Введите дату";
                           settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
                           settings.Properties.ButtonStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
                         //  settings.Properties.ValidationSettings.RequiredField.IsRequired = true;
                       }).GetHtml()


                            @*@Html.Action("ResorceCallbackPanel")*@

                            </div>
                        </div>
                    <div class="form-group">
                        <label for="cbResource">Ресурс</label>
                        <div class="form-control"  style="width:200px">
                            @Html.Action("cbResourcePartial",new { JobsAppointed_Nx = @ViewBag.JobsAppointed_Nx } )

                            </div>
                        </div>
                    <div class="form-group">
                        <label for="ResourceNumber">Объем(кол-во) ресурсов</label>
                        <input type="text" class="form-control" id="ResourceNumber" name="ResourceNumber" style="width:200px" placeholder="0,0">
                    </div>
                    <div class="form-group">
                        <label for="ResourceComment">Комментарий</label>
                       <textarea id="ResourceComment" style="width:200px" class="form-control" name="ResourceComment" rows="3"></textarea>
                    </div>
                    <input type="hidden" name="JobsExecutedDeclared_Nx" id="JobsExecutedDeclared_Nx" />
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="debugger; if(!ValidAddResourceForm()) return; if (typeof (cbResource.GetValue()) === 'number') $('.AddResource #Recourses_Nx').val(cbResource.GetValue()); $('.AddResource form').submit();">Сохранить</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>
<div style="display:none" id="ContextMenu">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="#" onclick="EditRecource('{KeyValue}');" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-pencil" style="margin-right:5px"></div>Редактировать</a></li>
        <li role="presentation"><a href="#" onclick="DeleteResource('{KeyValue}');" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-remove" style="margin-right:5px"></div>Удалить</a></li>
    </ul>
</div>
<script>
    $(function () {
        $('.AddResource form').submit(function () {
            // var stringarg=$(this).serialize();
            //alert(stringarg);
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    Update_gvResources();
                }
            });

            return false;
        });

    });
    function ValidAddResourceForm(){
        debugger;
        var ret = true;
        if(ResourceDateEdit.GetValue()==null)
        {
            $('.errormess.date').remove();
            $('#ResourceDateEdit').after('<div class="errormess date" style="color:red;">неверное значение</div>');
            ret=false;
        }
        else
        {
            $('.errormess.date').remove();
        }
        if(!$.isNumeric($('#ResourceNumber').val()))
        {
            $('.errormess.ResNum').remove();
            $('#ResourceNumber').after('<div class="errormess ResNum" style="color:red;">неверное значение</div>');
            ret=false;
        }
        else{
            $('#ResourceNumber').val($('#ResourceNumber').val().replace('.',','));
            $('.errormess.ResNum').remove();
        }

        return ret;
    }

    function AddResource_Clear() {
        cbResource.SetValue(1);
        var d=new Date();
        var dt=d.getDate()+'.'+(d.getMonth()+1)+'.'+d.getFullYear();

        ResourceDateEdit.SetText(dt);
        $('.AddResource #ResourceNumber').val('0');
        $('#ResourceComment').val('');

        $('#JobsAppointed_Nx').val(@ViewBag.JobsAppointed_Nx);
        $('#JobsExecutedDeclared_Nx').val('');
        $('.errormess').remove();
    }

    function Update_gvResources() {
        $('#AddResource').modal('hide');
        gvResources.PerformCallback({ Nx: @ViewBag.JobsAppointed_Nx });

    }

    function DeleteResource(e){
        e = parseInt(e);
        if(confirm('Удалить запись о ресурсе?'))
            $.post('/Resources/DeleteResource', { JobsExecutedDeclared_Nx:gvResources.GetRowKey(e) }, function (data) { Update_gvResources(); });
    }

    function EditRecource(e)
    {
        AddResource_Clear();
        e = parseInt(e);
        gvResources.GetRowValues(e, 'Resources_Nx;ExecutionDate;VolumeDeclared;CommentsExecutor', function (value) {
            $('#JobsExecutedDeclared_Nx').val(gvResources.GetRowKey(e));
            $('#ResourceTypeID').val(value[0]);
            cbResource.SetValue(value[0]);
            //var d=new Date(value[1]);
            //var dt=d.getDate()+'.'+(d.getMonth()+1)+'.'+d.getFullYear();
            ResourceDateEdit.SetText(value[1]);
            $('#ResourceNumber').val((''+value[2]).replace(',','.'));
            $('#ResourceComment').val(value[3]);
            $('#AddResource').modal('show');
        });
    }
    function ShowOptions(s, e) {


        $(s).popover({ animation: true, placement: 'auto right', title: 'Действия', html:true, content: $('#ContextMenu').html().split('{KeyValue}').join(e) });
        $(s).popover('show');

        $('body').on('click', function (e) {
            $('.popover').each(function () {
                $(this).popover('destroy');
                $('body').off('click');
            });
        });

    }
</script>
