﻿
@{
    ViewBag.Title = "Ресурсы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            @Html.Partial("ContragentInfo", (MvcCityConst.Models.Organizations)ViewBag.Org)
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <table style="width:100%"><tr><td align="left"><h3 class="panel-title">Использованные ресурсы для @ViewBag.JobHeader</h3></td><td align="right">@Html.ActionLink("К списку работ", "Index", "Jobs", new {  }, new { target="_self"})</td></tr></table>
        
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" onclick="AddResource_Clear(); $('#AddResource').modal('show'); ">Добавить ресурс</button>
        <div style="height:5px"></div>
        @Html.Action("gvResources", new { Nx = ViewBag.JobsAppointed_Nx })


    </div>
</div>

@Html.Partial("AddResource")