﻿
@Html.DevExpress().ComboBox(
    settings =>
    {
        settings.Name = "cbDepartments";

        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Properties.ClientSideEvents.LostFocus = ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly? "CheckDepartments":"";
        settings.Properties.ClientSideEvents.ValueChanged = string.Format("function(s,e){{ if('{0}'.length>0) $('#{0}').val(s.GetValue()); }}", ViewBag.InputValueName);
        settings.SelectedIndex = 0;
        settings.PreRender = (sender, e) =>
        {
            if (ViewBag.Nx != null && ViewBag.Nx != 0)
            {
                MVCxComboBox cmb = sender as MVCxComboBox;
                cmb.Value = ViewBag.Nx;
            }
            else
            {
                MVCxComboBox cmb = sender as MVCxComboBox;
                cmb.Value = null;
            }
        };
        settings.CallbackRouteValues = new { Controller = "Departments", Action = "cbDepartments", InputValueName = ViewBag.InputValueName, Profiles_Nx = ViewBag.Profiles_Nx };
        settings.ControlStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
        settings.Properties.ButtonStyle.Border.BorderStyle = System.Web.UI.WebControls.BorderStyle.None;
        settings.Properties.DropDownStyle = DropDownStyle.DropDownList;
        settings.Properties.TextField = "Name";
        settings.Properties.ValueField = "Nx";
        settings.Properties.ValueType = typeof(int);
        settings.Properties.IncrementalFilteringMode = IncrementalFilteringMode.Contains;
        settings.ClientEnabled = ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly;
        //settings.Properties.FilterMinLength = 2;
        //settings.Properties.CallbackPageSize = 15;
        settings.Properties.ClearButton.DisplayMode = ClearButtonDisplayMode.Always;
    }
                ).BindList(Model).GetHtml()

