﻿@model MvcCityConst.Models.Departments
<script>
    function CheckDepartmentName(fnk) {
        if ($('#DepartmentName').val().length > 0) {
            $.get("/Departments/CheckDepartmentName", { Profiles_Nx: '@ViewBag.Profile_Nx', DepartmentName: $('#DepartmentName').val(), Department_Nx: '@Model.Nx', ParentDepartment_Nx: cbDepartments.GetValue() }, function (data) {
                if (data == "OK") {
                    $('#DepartmentName').parent().removeClass('has-error').addClass('has-success');
                }
                else {
                    $('#DepartmentName').parent().removeClass('has-success').addClass('has-error');
                }
                if (fnk) fnk();
            });
        }
        else
            $('#DepartmentName').parent().removeClass('has-success').addClass('has-error');
    }
</script>

<div class="modal fade EditDepartment" id="EditDepartment" tabindex="-1" role="dialog" aria-labelledby="EditDepartmentLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="$('#EditDepartment').modal('hide');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Html.Raw(Model.Nx != 0 ? "Изменить подразделение" : "Новое подразделение")</h4>
            </div>

            <div class="modal-body">

                <div class="form-group">
                    <input type="hidden" id="Department_Nx" name="Department_Nx" value="@Model.Nx" />
                    <input type="hidden" id="cbDepartmentsVal" name="cbDepartmentsVal" value="@Model.ParentDepartment_Nx" />
                    <label class="control-label cbDepartments">Старшее подразделение</label>
                    <div class="form-control">
                        @Html.Action("cbDepartments", "Departments", new { InputValueName = "cbDepartmentsVal", Profiles_Nx = ViewBag.Profile_Nx, Nx = Model.ParentDepartment_Nx, IsReadOnly = ViewBag.IsReadOnly })
                    </div>
                </div>
               
                <div class="form-group">
                    <label class="control-label Value">Подразделение</label>
                    <input type="text" class="form-control" id="DepartmentName" name="DepartmentName" value="@Model.Name" onblur="CheckDepartmentName();">
                </div>

                <div class="form-group">
                    <label class="control-label Comments">Комментарии</label>

                    <textarea id="DepartmentComments" class="form-control" rows="3" name="DepartmentComments">@Model.Comments</textarea>
                </div>
            </div>
            <div class="modal-footer">
                @if (ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly)
                {
                    <button type="button" class="btn btn-success" onclick='CheckAndSaveDepartment();'>Сохранить</button>
                }
                <button type="button" class="btn btn-default" onclick="$('#EditDepartment').modal('hide');">Закрыть</button>

            </div>
        </div>
    </div>
</div>

<script>
    (function () {
        $('#EditDepartment').modal('show');
        $('#EditDepartment').on('hidden.bs.modal', function (e) {
            $('#EditDepartment').parent().remove();
        })
    })();
</script>
@if (ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly)
{
    <script>
        function SaveDepartment() {
            if ($('.has-error').length == 0) {
                $.get("/Departments/SaveDepartment", { Profiles_Nx: '@ViewBag.Profile_Nx', Department_Nx: $('#Department_Nx').val(), DepartmentName: $('#DepartmentName').val(), ParentDepartment_Nx: cbDepartments.GetValue(), Comments: $('#DepartmentComments').val() }, function (data) {
                    tlDepartments.PerformCallback({ Profiles_Nx: '@ViewBag.Profile_Nx', IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly == true)' });
                    $('#EditDepartment').modal('hide');
                });
            }
        }

        function CheckAndSaveDepartment() {
            CheckDepartments(null,null,function () {
                CheckDepartmentName(function () {
                    SaveDepartment();

                });
            });
        }
        function CheckDepartments(s, e, fnk) {
            if (cbDepartments.GetValue() && $('#Department_Nx').val() && $('#Department_Nx').val()!=0) {
                $.get('/Departments/CheckDepartments', {
                    Department_Nx: $('#Department_Nx').val(), ParentDepartment_Nx: cbDepartments.GetValue()
                }, function (data) {
                        if(data=='OK')
                            $('#cbDepartmentsVal').parent().removeClass('has-error').addClass('has-success').removeAttr('title');
                        else
                            $('#cbDepartmentsVal').parent().removeClass('has-success').addClass('has-error').attr('title','Циклическая ссылка на самого себя');
                      
                        if (fnk)
                            fnk();
                    }
                );
            }
            else {
                $('#cbDepartmentsVal').parent().removeClass('has-error').addClass('has-success').removeAttr('title');
                if (fnk)
                    fnk();
            }
        }
        (function () { $('#EditDepartment input[type!=checkbox], textarea').removeAttr('disabled'); })();
    </script>
}
else
{
    <script>
        (function () { $('#EditDepartment input, textarea').attr('disabled', 'disabled'); })();
    </script>
}