﻿
@{
    ViewBag.Title = "Смена пароля";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.Identity.IsAuthenticated)
{
    <style>
        #form-changepass input{
            max-width:none;
        }
        
    </style>
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <form class="form" id="form-changepass" method="post" action="/Account/ChangeOldPassword">
                    <div class="form-group">
                        <label class="control-label" for="OldPass">Старый пароль</label>
                        <input type="password" class="form-control ChangeIvalid" name="OldPass" id="OldPass" onblur="CheckOldPass()" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="Password">Пароль(мин. 6 символов)</label>
                        <input type="password" class="form-control ChangeIvalid" name="Password" id="Password" onblur="CheckPass(this);" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="PasswordConfirm">Повторите пароль</label>
                        <input type="password" class="form-control ChangeIvalid" name="PasswordConfirm" id="PasswordConfirm" onkeyup="CheckPassConfirm();" onblur="CheckPassConfirm();" />
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" onclick="ValidateAndChange();">Сменить</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        function ValidateAndChange() {
            CheckPass();
            CheckPassConfirm();
            CheckOldPass(function () {
                if ($('.has-error').length == 0)
                    $('#form-changepass').submit();
            });

        }
        function CheckPassConfirm() {
            if ($('#Password').val() == $('#PasswordConfirm').val()) {
                $('#PasswordConfirm').parent().removeClass('has-error').addClass('has-success');
            }
            else {
                if (!$('#PasswordConfirm').parent().hasClass('has-error')) { $('#PasswordConfirm').parent().removeClass('has-success').addClass('has-error'); }
            }
        }
        function CheckPass() {
            var obj = $('#Password');
            if ($(obj).val().length >= 6) {

                $(obj).parent().removeClass('has-error').addClass('has-success');
            }
            else {
                if (!$(obj).parent().hasClass('has-error')) { $(obj).parent().removeClass('has-success').addClass('has-error'); }

            }
        }
        function CheckOldPass(fnk) {
            var obj = $('#OldPass');
            $.post('/Account/CheckOldPass', { OldPass: $(obj).val() },
                               function (data) {
                                   debugger;
                                   if (data == 'OK') {

                                       $(obj).parent().removeClass('has-error').addClass('has-success');

                                   }
                                   else {

                                       if (!$(obj).parent().hasClass('has-error')) { $(obj).parent().removeClass('has-success').addClass('has-error'); }
                                   }
                                   if (fnk) fnk();
                               });
        }
    </script>
}