﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Запрос на регистрацию - City Construction</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
)
    @Html.DevExpress().GetScripts(
new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
new Script { ExtensionSuite = ExtensionSuite.RichEdit },
new Script { ExtensionSuite = ExtensionSuite.Editors },
new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
new Script { ExtensionSuite = ExtensionSuite.Scheduler },
new Script { ExtensionSuite = ExtensionSuite.Chart },
new Script { ExtensionSuite = ExtensionSuite.GridView },
new Script { ExtensionSuite = ExtensionSuite.TreeList }
)
</head>
<body>
    <style>
    .CreateRegistrationRequest input{
       max-width:none;
    }
    </style>
    <script>
        function ChangeTabs(s, e) {
            debugger;
            if (e.tab.name == 'AsEmployeeTab') {
                $('.AsOrganization').hide();
                $('.AsEmployee').show();
                $('.AsOrganization input').val('');
                cbBusinessLegalForms.SetValue('');
            }
            else {
                $('.AsEmployee').hide();
                $('.AsOrganization').show();
                $('.AsEmployee input').val('');
                cbOrganizations.SetValue('');
            }
        }

        function CheckFirstName(sender) {
            ret = false;
            var fio=$(sender).val();
            if (fio.length>0) {
                $(sender).parent().addClass('has-success');
                $(sender).parent().removeClass('has-error')
                ret = true;
            }
            else{
                $(sender).parent().addClass('has-error');
                $(sender).parent().removeClass('has-success')
            }
            return ret;
        }

        function CheckOrganization() {
            ret = false;
            if (cbOrganizations.GetText().length > 0) {
                $('.cbOrganizations').parent().addClass('has-success');
                $('.cbOrganizations').parent().removeClass('has-error');
                $('#cbOrganizationsValue').val(cbOrganizations.GetValue());
                ret = true;
            }
            else {
                $('.cbOrganizations').parent().addClass('has-error');
                $('.cbOrganizations').parent().removeClass('has-success')
            }
            return ret;
        }

        function CheckBusinessLegalForms() {
            ret = false;
            if (cbBusinessLegalForms.GetText().length > 0) {
                $('.cbBusinessLegalForms').parent().addClass('has-success');
                $('.cbBusinessLegalForms').parent().removeClass('has-error')
                $('#cbBusinessLegalFormsValue').val(cbBusinessLegalForms.GetValue());
                ret = true;
            }
            else {
                $('.cbBusinessLegalForms').parent().addClass('has-error');
                $('.cbBusinessLegalForms').parent().removeClass('has-success')
            }
            return ret;
        }

        function CheckEmailExists(sender, callback) {
            $.post('/Account/CheckEmail', { Email: $(sender).val() }, function (ret) {
                var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                 
                if (ret == 'OK' && $(sender).val().length > 0 && re.test($(sender).val())) {
                    $('#errormessreg').remove();
                    $(sender).parent().addClass('has-success');
                    $(sender).parent().removeClass('has-error')
                    if (callback)
                        callback();
                }
                else {
                    $('#errormessreg').remove();
                    $(sender).after('<div style="color:red" id="errormessreg">' + ret + '</div>');
                    $(sender).parent().addClass('has-error');
                    $(sender).parent().removeClass('has-success')
                }
            });
        }

        function CheckOrgNameExists(sender, callback) {

            $.post('/Organizations/CheckOrgname', { OrgName: $(sender).val() }, function (ret) {
                if (ret != 'OK' && $(sender).val().length > 0) {

                    $(sender).parent().addClass('has-success');
                    $(sender).parent().removeClass('has-error')
                    if (callback)
                        callback();
                }
                else {
                    $(sender).parent().addClass('has-error');
                    $(sender).parent().removeClass('has-success')
                }
            });
        }

        function SubmitForm()
        {
            debugger;
            var tab = RegisterTabControl.GetActiveTab();
            if (tab.name == 'AsEmployeeTab') {
                var ret = true;
                ret &= CheckOrganization() & CheckFirstName($('#FirstName'));
                CheckEmailExists($('#Email'), function () { if (ret && $('.CreateRegistrationRequest .AsEmployeeTab .has-error').length == 0) $('form').submit(); });
            }
            else {
                ret = CheckBusinessLegalForms();
                CheckOrgNameExists($('#OrgName'), function () {
                    CheckEmailExists($('#OrgEmail'), function () {
                        debugger;
                        if (ret && $('.CreateRegistrationRequest .AsOrganization .has-error').length == 0) $('form').submit();
                    });
                });
            }
        }

    </script>
    <div class="container body-content CreateRegistrationRequest">
        <div class="col-lg-6 col-lg-offset-3 ">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Запрос на регистрацию в системе</h3></div>
                <div class="panel-body">


                    @Html.DevExpress().TabControl(settings =>
           {
               settings.Name = "RegisterTabControl";
               settings.ClientSideEvents.ActiveTabChanged = "ChangeTabs";
               settings.ActiveTabIndex = 0;
               settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
               settings.Tabs.Add(tab =>
               {

                   tab.Name = "AsEmployeeTab";
                   tab.Text = "Сотрудник";
               });
               settings.Tabs.Add(tab =>
               {
                   tab.Name = "AsOrganizationTab";
                   tab.Text = "Организация";
               });
           }).GetHtml()

                    @using (Html.BeginForm("RegistrationRequest", "Account", FormMethod.Post))
                    {
                        <div class="AsEmployee" style="display:block;margin-top:5px;">
                            <input type="hidden" name="cbOrganizationsValue" id="cbOrganizationsValue" />
                            <div class="form-group">
                                <label class="control-label cbOrganizations">Организация</label>
                                <div class="form-control">
                                    @Html.Action("cbOrganizations", "Organizations", new { InputValueName="cbOrganizationsValue", cbOrganizations_LostFocus = "CheckOrganization" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="Email">Email</label>
                                <input type="text" class="form-control" id="Email" name="Email" placeholder="Email" onblur="CheckEmailExists(this)">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="FirstName">Фамилия</label>
                                <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Фамилия" onblur="CheckFirstName(this)">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="SecondName">Имя</label>
                                <input type="text" class="form-control" id="SecondName" name="SecondName" placeholder="Имя">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="ThirdName">Отчество</label>
                                <input type="text" class="form-control" id="ThirdName" name="ThirdName" placeholder="Отчество">
                            </div>
                            <label class="radio-inline">
                                <input type="radio" name="Gender" id="male" value="male"> Муж.
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="Gender" id="female" value="female"> Жен.
                            </label>
                        </div>
                        <div class="AsOrganization" style="display:none;margin-top:5px;">

                            <div class="form-group">
                                <label class="control-label" for="FirstName">Организация</label>
                                <input type="text" class="form-control" id="OrgName" name="OrgName" placeholder="Наименование" onblur="CheckOrgNameExists(this)">
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="cbBusinessLegalFormsValue" name="cbBusinessLegalFormsValue" />
                                <label class="control-label cbBusinessLegalForms">Форма собственности</label>
                                <div class="form-control">
                                    @Html.Action("cbBusinessLegalForms", "Organizations")
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="OrgEmail">Email</label>
                                <input type="text" class="form-control" id="OrgEmail" name="OrgEmail" placeholder="Email" onblur="CheckEmailExists(this)">
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" onclick="SubmitForm(); return false;">Отправить запрос</button>
                        </div>
                    }
                    <hr />
                    @Html.ActionLink("На Главную", "Index", "Home")
                </div>
            </div>
        </div>
    </div>

</body>
</html>
