﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в систему - City Construction intranet portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container body-content">
        <div class="jumbotron">
            <h1>Вход в систему</h1>



            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                
                <div class="form-group">
                    
                        <label class="control-label" for="UserName">Пользователь</label>
                        <input type="text" class="form-control" id="UserName" name="UserName" placeholder="Имя пользователя" onblur="CheckUserName(this)">
                        @*<span id='UserNameOk' class='glyphicon glyphicon-ok' style='color:green; display:none;'></span>
                        <span title='Недопустимое значение' id='UserNameError' class='glyphicon glyphicon-exclamation-sign' style='color:red; display:none;'></span>*@
                </div>
                <div class="form-group">
                    <label for="InputPassword">Пароль</label>
                    <input type="password" class="form-control" id="InputPassword" name="Password" placeholder="Пароль">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="RememberMe"> Запомнить
                    </label>
                </div>
                <input type="hidden" name="ReturnUrl" value="@ViewBag.RedirectUrl" />
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" onclick="SubmitForm(); return false;">Вход</button>
                    <button class="btn btn-danger" onclick="RequestReparePassword(); return false;">Восстановить пароль</button>
                    <button class="btn btn-default" onclick="window.location.href='@Url.Action("CreateRegistrationRequest", "Account")'; return false;">Запрос на регистрацию</button>
                </div>
            }
        </div>


        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - City Construction</p>
        </footer>
    </div>
    <script>
        function CheckUserName(sender, callback) {
            $.post('/Account/CheckUserName', { UserName: $(sender).val() }, function (ret) {
                if (ret == 'OK') {
                    $('#errormesslogin').remove();
                    $(sender).parent().addClass('has-success');
                    $(sender).parent().removeClass('has-error')
                    if (callback)
                        callback();
                }
                else {
                    $('#errormesslogin').remove();
                    $(sender).after('<div style="color:red" id="errormesslogin">'+ret+'</div>');
                    $(sender).parent().addClass('has-error');
                    $(sender).parent().removeClass('has-success')
                }
            });
        }

        function SubmitForm() {
            CheckUserName($('#UserName'), function () { $('form').submit(); });
        }
        function RequestReparePassword() {
            CheckUserName($('#UserName'), function () { window.location.href = '/Account/RequestReparePassword?UserName=' + $('#UserName').val(); });
        }
    </script>
</body>
</html>
