﻿@if (ViewBag.Nx == null)
{
    ViewBag.Title = "Список организаций";
    if (!ViewBag.IsReadOnly)
    {
        <button type="button" class="btn btn-success" onclick="$.get('/Organizations/OrganizationEdit',{ViewID:'@ViewBag.ViewID'}, function (data) {  window['ShowOrgModal_@ViewBag.ViewID']('Добавить организацию', data); });">Добавить организацию</button>
    }
    <div style="height:5px"></div>
    @Html.Action("gvOrganizations", new { IsReadOnly = ViewBag.IsReadOnly, ViewID = ViewBag.ViewID })


    <div class="modal fade OrgModalAlert_uniq_@ViewBag.ViewID" id="OrgModalAlert_uniq_@ViewBag.ViewID" style="overflow-y: auto;" tabindex="-1" role="dialog" aria-labelledby="OrgModalAlert_uniq_Label_@ViewBag.ViewID">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" onclick="$('#OrgModalAlert_uniq_@ViewBag.ViewID').modal('hide');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="window['gvOrganizations_@ViewBag.ViewID'].PerformCallback({Update:true, IsReadOnly:@Html.Raw(ViewBag.IsReadOnly == true).ToString().ToLower()});$('#OrgModalAlert_uniq_@ViewBag.ViewID').modal('hide');">Закрыть</button>
                </div>
            </div>
        </div>
    </div>


    <div style="display:none" id="gvOrganizationsContextMenu_@ViewBag.ViewID">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="#" onclick="window['EditOrg_@ViewBag.ViewID']('{KeyValue}');" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-pencil" style="margin-right:5px"></div>Редактировать</a></li>
            @if (ViewBag.IsReadOnly != null && !ViewBag.IsReadOnly)
            {
                <li role="presentation"><a href="#" onclick="window['DeleteOrg_@ViewBag.ViewID']('{KeyValue}');" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-remove" style="margin-right:5px"></div>Удалить</a></li>
                <li role="presentation"><a href="#" class="UnRestrictOrg_@ViewBag.ViewID" onclick="window['UnRestrictOrg_@ViewBag.ViewID']('{KeyValue}')" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-open" style="margin-right:5px"></div>Снять ограничения</a></li>
                <li role="presentation"><a href="#" class="UnBlockOrg_@ViewBag.ViewID" onclick="window['UnBlockOrg_@ViewBag.ViewID']('{KeyValue}')" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-envelope" style="margin-right:5px"></div>Разблокировать</a></li>
                <li role="presentation"><a href="#" class="BlockOrg_@ViewBag.ViewID" onclick="window['BlockOrg_@ViewBag.ViewID']('{KeyValue}')" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-lock" style="margin-right:5px"></div>Заблокировать</a></li>
                <li role="presentation"><a href="#" class="RestrictOrg_@ViewBag.ViewID" onclick="window['RestrictOrg_@ViewBag.ViewID']('{KeyValue}')" style="color:dimgrey; font-size:12px"><div class="glyphicon glyphicon-lock" style="margin-right:5px"></div>Ограничить</a></li>
            }
        </ul>
    </div>

    <script>
        window['ShowOrgModal_@ViewBag.ViewID']=function(Title, Body) {
            $('#OrgModalAlert_uniq_@ViewBag.ViewID .modal-title').children().remove();
            $('#OrgModalAlert_uniq_@ViewBag.ViewID .modal-title').append(Title);
            $('#OrgModalAlert_uniq_@ViewBag.ViewID .modal-body').children().remove();
            $('#OrgModalAlert_uniq_@ViewBag.ViewID .modal-body').append(Body);
            $('#OrgModalAlert_uniq_@ViewBag.ViewID').modal('show');
        };
        window['EditOrg_@ViewBag.ViewID']=function (e) {
            e = parseInt(e);
            $.get("/Organizations/OrganizationEdit", { Nx: e, IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly)', ViewID: '@ViewBag.ViewID' }, function (data) { debugger; window['ShowOrgModal_@ViewBag.ViewID']('<span>Редактировать организацию</span>', '<div>' + data + '</div>'); });


        };

        window['DeleteOrg_@ViewBag.ViewID']=function (e) {
            e = parseInt(e);

            if (confirm("Удалить организацию, все ее контакты, всех сотрудников и все филиалы?")) {
                $.post('/Organizations/DeleteOrganization', { Nx: e }, function (data) { window['gvOrganizations_@ViewBag.ViewID'].PerformCallback({ Update: 'true', IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly == true)',ViewID:'@ViewBag.ViewID' }); });
            }
        };

        window['UnRestrictOrg_@ViewBag.ViewID'] = function (Nx) {
            $.get('/Home/Comment', { Header: 'Причина снятия ограничений', SuccessAction: 'function(reason){ window["DoSmth_@ViewBag.ViewID"](reason,1,' + Nx + ');}' }, function (data) { data = '<div>' + data + '</div>'; $('body').append(data); });
        };
        window['UnBlockOrg_@ViewBag.ViewID'] = function (Nx) {
            $.get('/Home/Comment', { Header: 'Причина снятия блокировки', SuccessAction: 'function(reason){ window["DoSmth_@ViewBag.ViewID"](reason,2,' + Nx + ');}' }, function (data) { data = '<div>' + data + '</div>'; $('body').append(data); });
        };
        window['BlockOrg_@ViewBag.ViewID']=function(Nx) {
            $.get('/Home/Comment', { Header: 'Причина блокировки', SuccessAction: 'function(reason){ window["DoSmth_@ViewBag.ViewID"](reason,3,' + Nx + ');}' }, function (data) { data = '<div>' + data + '</div>'; $('body').append(data); });
        }
        window['RestrictOrg_@ViewBag.ViewID']=function (Nx) {
            $.get('/Home/Comment', { Header: 'Причина введения ограничений', SuccessAction: 'function(reason){ window["DoSmth_@ViewBag.ViewID"](reason,4,' + Nx + ');}' }, function (data) { data = '<div>' + data + '</div>'; $('body').append(data); });
        }

        window["DoSmth_@ViewBag.ViewID"]=function (reason, CmdType, Nx) {
            $.get('/Organizations/RestrictonActions', { Reason: reason, CmdType: CmdType, Nx: Nx }, function () { window['gvOrganizations_@ViewBag.ViewID'].PerformCallback({ Update: 'true', IsReadOnly: '@Html.Raw(ViewBag.IsReadOnly == true)',ViewID:'@ViewBag.ViewID' }); });
        }





        window['ShowgvOrganizationsOptions_@ViewBag.ViewID']=function (s, e) {
            $.get('/Organizations/GetOrgState', { Nx: e }, function (data) {
                debugger;
                var ContextMenu = $('#gvOrganizationsContextMenu_@ViewBag.ViewID').clone().attr('id', 'ContextMenu_@ViewBag.ViewID');

                if (parseInt(data) == 3) {
                    $('.ConfirmationRequest_@ViewBag.ViewID', ContextMenu).parent().remove();
                    $('.RestrictOrg_@ViewBag.ViewID', ContextMenu).parent().remove();
                }
                else
                    if (parseInt(data) == 2) {
                        $('.UnRestrictOrg_@ViewBag.ViewID', ContextMenu).parent().remove();
                        $('.BlockOrg_@ViewBag.ViewID', ContextMenu).parent().remove();
                        $('.RestrictOrg_@ViewBag.ViewID', ContextMenu).parent().remove();
                    }
                    else {
                        $('.UnRestrictOrg_@ViewBag.ViewID', ContextMenu).parent().remove();
                        $('.ConfirmationRequest_@ViewBag.ViewID', ContextMenu).parent().remove();
                    }
                $(s).popover({ animation: true, placement: 'auto right', title: 'Действия', html: true, content: $(ContextMenu).html().split('{KeyValue}').join(e) });
                $(s).popover('show');
            });



            $('body').on('click', function (e) {
                $('.popover').each(function () {
                    $(this).popover('destroy');
                    $('body').off('click');
                });
            });

        }
    </script>
}
else
{
    ViewBag.Title = "Профайл огранизации";
    @Html.Action("OrganizationEdit", "Organizations", new { Nx = ViewBag.Nx, IsReadOnly = ViewBag.IsReadOnly, ViewID = ViewBag.ViewID })
   
}
