﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - City Construction intranet portal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="/Scripts/es6-promise.js"></script>
  @Html.DevExpress().GetStyleSheets(
new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList }
)
@Html.DevExpress().GetScripts(
new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
new Script { ExtensionSuite = ExtensionSuite.RichEdit },
new Script { ExtensionSuite = ExtensionSuite.Editors },
new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
new Script { ExtensionSuite = ExtensionSuite.Scheduler },
new Script { ExtensionSuite = ExtensionSuite.Chart },
new Script { ExtensionSuite = ExtensionSuite.GridView },
new Script { ExtensionSuite = ExtensionSuite.TreeList }
)


    @RenderSection("scripts", required: false)
</head>
<body>
    @Html.DevExpress().LoadingPanel(settings =>
{
    settings.Name = "LoadingPanel";
    settings.Modal = true;
}).GetHtml()
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Интранет-портал City Construction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-xs" })
                @Html.ActionLink("City Construction", "Index", "Home", new { area = "" }, new { @class = "navbar-brand hidden-lg hidden-sm hidden-md" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Sys.Admin") || User.IsInRole("Client.Admin"))
                    {
                    <li>@Html.ActionLink("Администрирование", "Admin", "Account")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" title="Пользователь" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" style="margin-right:5px"></span> @Html.Action("GetAuthority", "Account") <span class="UnreadedMessages">@Html.Action("GetUnreadedMessages", "Messages")</span><span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Messages/Index">Мои сообщения <span class="UnreadedMessages">@Html.Action("GetUnreadedMessages", "Messages")</span> </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Account/ChangePassword">Смена пароля</a></li>
                            <li><a href="#" onclick="$.get('/Employees/AddEmployee', function (data) { data = '<div>' + data + '</div>'; $('body').append(data); });">Мой профайл</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/Account/Logout">Выход</a></li>
                        </ul>
                    </li>
                    @*<li><a href="@Url.Action("Logout","Account")">Пользователь: @Context.User.Identity.Name</a> </li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content"  style="margin-top:10px;">
        <div id="MianContent">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - City Construction</p>
        </footer>
    </div>
    <div>
       
            @if (MvcCityConst.Account.GetCurrentUserState() == 3)
            {

                @Html.Action("Alert", "Home", new { Type = 2, Title = "Предупреждение", Header = "Режим ограниченной функциональности", Message = "Вы видите это сообщение, потому что работаете в режиме ограниченной функциональности. Скорее всего у Вас некорректно заполнен профайл. Заполните полностью свой профайл и сообшите администратору системы Вашей организации.", IsModal = true });
            }
            @if (MvcCityConst.Account.GetCurrentOrgState() == 3 && User.IsInRole("Client.Admin"))

            {
                @Html.Action("Alert", "Home", new { Type = 2, Title = "Предупреждение", Header = "Режим ограниченной функциональности", Message = "Вы видите это сообщение, потому что для Вашей организации включен в режим ограниченной функциональности. Сотрудники Вашей организации не могут войти в систему. Скорее всего некорректно заполнен профайл организации. Заполните полностью профайл и сообшите администратору системы.", IsModal = true });

            }
        @*<audio id="music" src="/Home/GetFile/?FileName=NewMessage.mp3"></audio>*@
    </div>
<script>

    (function SetWebSocket() {
        if (window.WebSocket) {
            var websocketstring = window.location.href.indexOf("https") >= 0 || window.location.href.indexOf("HTTPS") >= 0 ? "wss" : "ws";
            window.Socket = new WebSocket(websocketstring + "://" + window.location.host + "/Home/WebSocketConnect");
            if (window.Socket) {
                window.Socket.onopen = function () { }
                window.Socket.onclose = function (CloseEvent) { /*alert(CloseEvent.code + CloseEvent.reason);*/ if (CloseEvent.wasClean) { } }
                window.Socket.onerror = function () { /*alert('Error open');*/ }
                window.Socket.onmessage = function (Event) {
                    //alert(Event.data);
                    switch (Event.data.toString().toUpperCase()) {
                        case "REFRESH":
                            window.location.href ="";
                            break;
                        case "MESSAGES":
                            $.get('/Messages/GetUnreadedMessages', function (data) { $('.UnreadedMessages').html(data); });
                            break;
                        case "NEWMESSAGES":
                            $.get('/Messages/GetUnreadedMessages', function (data) { $('.UnreadedMessages').html(data); });
                            if (gvIncomingMessages && gvIncomingMessages.PerformCallback)
                                gvIncomingMessages.PerformCallback();
                            var audio = new Audio('/Home/GetFile/?FileName=NewMessage.mp3');
                            audio.play();
                           
                            break;
                        case "UPDATEGVONLINEUSERS":
                            if (gvOnlineUsers && gvOnlineUsers.PerformCallback)
                                gvOnlineUsers.PerformCallback();
                            break;
                    }
                }
            }
        }
    })();
</script>   
</body>

</html>
