﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container body-content">
        <div class="panel @ViewBag.PanelType">
            <div class="panel-heading"><h3 class="panel-title">@ViewBag.Header</h3></div>
            <div class="panel-body">
                @Html.Raw(ViewBag.Message)
                <br />
                @Html.ActionLink("На Главную", "Index", "Home")
            </div>
        </div>
    </div>
</body>
</html>
